<!DOCTYPE html>
<html lang="en">

<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>

<li id = 'messages'> Messages </li>

<form action="" id="form">
    <ul id="messages"></ul>
    <div class="form-group">
        <label for="email">Send Message</label>
        <input class="form-control" autocomplete="off" id="m">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>

<script>

    var form = $("#form")
    form.submit(function () {
       // socket.emit('chat message', $('#m').val());
        $('#messages').append($('<li>').text($("#m").val()));
        $('#m').val('');
        return false;
    });
    //socket.on('chat message', function (msg) {
        //$('#messages').append($('<li>').text(msg));
    //});
</script>

