<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>shmues ;p</title>

	<!-- CSS -->
	<!-- load bootstrap and our own personal stylesheet -->
	<link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/style.css">

</head>
<body>
<!--  <script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1193202880754125',
      xfbml      : true,
      version    : 'v2.7'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>  -->
<div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
</div>
<div class="container">
	<div class="jumbotron">
		<h1>Welcome to shmues</h1>
		<li> --- Coming soon --- </li>	
	</div>
</div>
	
</body>
</html>